<%= render 'shared/page_title', title: "showing all recipes" %>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'recipe', resource: @recipes %>

<div align="center">
  <%= will_paginate %>
</div>
